@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: bold;
}
body{
    background-image: linear-gradient(to right, rgb(34, 34, 34), rgba(52, 52, 53, 0.434));
}
h1{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.703);
}
#img{
    text-align: center;
    background-image: url(imagens/pexels-cottonbro-studio-3585074.jpg);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.568);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vh;
    margin: auto;
    border-radius: 10px;
    
    
    
}
input{
   height: 35px;
   border-radius: 20px;
  padding: 5px;
  background-color: rgb(66, 66, 66);
 
}
#formulario{
    text-align: center;
    padding: 20px;
    padding: 20px;
    
    
}
section#login{ 
}

    
#butaoentrar{ 
    width: 70%;
}
#butaoapagar{
    width: 70px;
}


#ipe{
    padding: 100px;
   
   
    
    

    }
    input:hover{
        background-color: rgba(52, 52, 52, 0.737);
        color: rgb(145, 55, 10);
    }
    #tudo{
        margin: auto;
    }
   