@charset "UTF-8";

@media  screen and (min-width: 700px){

}

body{
    background-image: linear-gradient(to right, rgb(34, 34, 34), rgba(52, 52, 53, 0.434));
}
h1{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.703);
}
#img{
    text-align: center;
    background-image: url(imagens/pexels-cottonbro-studio-3585074.jpg);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.568);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    
    
    
    
}
input{
   height: 35px;
   border-radius: 20px;
  padding: 5px;
  background-color: rgb(66, 66, 66);
  margin-left: 10px;
 
}
#formulario{
    width: 100vw;
   
    
    
}
section#login{ display: inline-block;

  
}
#ipe{ margin: 10px;
    padding: 100px;
   
    
    

    }
    input:hover{
        background-color: rgb(52, 52, 52);
        color: rgb(61, 61, 61);
    }
    @media screen and(min-width: 1200px) {
        
    }
    body{
        background-color: black;
    }
   